*,::before, ::after {
  box-sizing: border-box;
}

/* .summary-header {
 font-size: calc(1.325rem + .9vw);
 font-weight: 500;
} */

.error .input-field {
  border-color: red;
}

.error-label {
  display: block;
  margin-bottom: 10px;
  color: red;
}
