.list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  list-style: none;
  color: #fff;
}

.body {
  background-color: #7B68EE;
}

.list-item {
  padding: 10px 15px;
  border: 10px solid #778899;
}

